<p-dialog class="rounded-md" [modal]="true" [(visible)]="visible" (onHide)="closeDialog()" [resizable]="true"
    [style]="{ width: '50vw', height : '60vh' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">

    <ng-template pTemplate="header">
        <p class="font-bold text-2xl underline">Create Your Quiz</p>
    </ng-template>

    <!-- Dialog Content Section -->
    <form [formGroup]="quizCreationForm" novalidate autocomplete="off" class="p-fluid">

        <div class="field p-2">
            <label for="questionCount" class="mb-2 font-bold text-[1.1rem]">Question Count : </label>

            <p-inputNumber formControlName="questionCount" inputId="questionCount" mode="decimal" [min]="5" [max]="25"
                suffix=" questions" placeholder="Enter Question count" />
            @if(quizCreationForm.controls['questionCount'].invalid && quizCreationForm.controls['questionCount'].dirty)
            {
            <small class="text-xl font-semibold text-[red]">Question count must be between 5 and 25.</small>
            }
        </div>

        <div class="field p-2">
            <label for="categoryName" class="mb-2 font-bold text-[1.1rem]">Category : </label>
            <p-dropdown [options]="categories" appendTo="body" formControlName="categoryName" variant="filled"
                optionLabel="value" placeholder="Select a Category" />
        </div>

        <div class="field p-2">
            <label for="questionType" class="mb-2 font-bold text-[1.1rem]">Question Type : </label>
            <p-dropdown [options]="questionTypes" appendTo="body" formControlName="questionType" variant="filled"
                optionLabel="value" placeholder="Select a Question Type" />
        </div>

        <div class="field p-2">
            <label for="questionLevel" class="mb-2 font-bold text-[1.1rem]">Question Level : </label>
            <p-dropdown [options]="questionLevels" appendTo="body" formControlName="questionLevel" variant="filled"
                optionLabel="value" placeholder="Select Question Difficulty Level" />
        </div>

    </form>

    <ng-template pTemplate="footer">

        <div class="flex justify-evenly mt-2 p-2">
            <button type="submit"
                class="p-2 bg-[#6fbcf0] text-[#080808] font-semibold rounded-md hover:bg-[#156b6b] hover:text-white cursor-pointer"
                label="Create" severity="secondary" (click)="onQuizCreate()" [disabled]="quizCreationForm.invalid">
                Create
            </button>
        
            <button class="p-2 bg-[red] rounded-md font-semibold hover:bg-[#6b1515] cursor-pointer" label="Cancel"
                (click)="closeDialog()">
                Cancel
            </button>

        </div>
        
    </ng-template>

</p-dialog>