<!-- Another try of making responsive navbar -->
<nav class="p-2 flex fixed w-[100%] top-0 z-[9999] bg-[#1f7bb8] justify-evenly items-center">

    <a routerLink="/" class="ml-10 text-2xl text-yellow-500 lg:text-2xl hover:scale-x-[1.1] font-bold cursor-pointer">
        Gemini Time
    </a>

    <!-- Nav items -->
    <div class="hidden md:flex gap-4">
        <a routerLink="/"
            class="text-neutral-200 cursor-pointer text-lg font-semibold hover:scale-x-[1.1] hover:text-yellow-600 transition-[1s]">Try Some</a>

    </div>

    <button class="p-2 md:hidden" (click)="openSidebar()">
        <fa-icon class="fa-lg" style="color: #b8e3ee;" [icon]="hamburger"></fa-icon>
    </button>

    <!-- Fixed for mobile menu -->
    <div class="fixed block md:hidden z-[9999] bg-[#3164af] top-0 inset-0 px-2 py-1"
        [ngClass]="isSidebarShowing ? '' : 'hidden'">

        <div class="flex justify-between">
            <a routerLink="/" class="ml-5 text-2xl text-yellow-500 lg:text-2xl font-bold cursor-pointer">
                Gemini Time
            </a>

            <button class="p-2 md:hidden" (click)="closeSidebar()">
                <fa-icon class="fa-lg" style="color: #bde9fa;" [icon]="close"></fa-icon>
            </button>
        </div>

        <!-- Border -->
        <div class="h-[1px] bg-[gray]"></div>

        <!-- Nav items -->
        <div class="mt-4 overflow-auto">
            <a routerLink="/gemini" (click)="closeSidebar()"
                class="text-[#f7cb84] m-3 p-2 flex justify-between cursor-pointer text-lg font-semibold hover:text-yellow-600 transition-[1s] rounded-lg bg-[#5db2f8] shadow-md">Try Some
                <span class="">
                    <fa-icon class="fa-lg" style="color: #0feb8f; --fa-animation-duration :1.2s" [icon]="home"
                        animation="bounce"></fa-icon>
                </span>
            </a>

        </div>

        <!-- Border -->
        <div class="h-[1px] bg-[gray]"></div>

    </div>
</nav>